<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="KSS_Db"
     connectionString="Data Source=DESKTOP-PSPAAG7\SQLEXPRESS;Initial Catalog=KSS;Integrated Security=True;TrustServerCertificate=True"
     providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>